body{
    background-color: #e2e2e2;
}
hr{
    margin: 5px;
}
a,a:hover{
    color: #4d5256;
}
.container{
    margin: 0 0;
}
.content-container{
    background-color: white;
    margin: 30px;
}
.mobile-content-container{
    background-color: white;
}
.row{
    padding: 5px;
}
.list-info{
    font-size: 12px;
    color: #aaa;
    line-height: 200%;
}
.list-title{
    /*color: #0b2e13;*/
   color:  #4d5256;
}
.list-title:hover{
    color:  #4d5256;
}
.list-body{
    margin: 5px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #0b2e13;
    background-color: #e2e2e2;
    border-color: #e2e2e2;
}
.page-link,.page-link:hover {
    z-index: 3;
    color: #0b2e13;
    border-color: #e2e2e2;
}

.search-input{
    height: 30px;
}
.search-button{
    padding-left: 0;
}
.question-info{
    font-size: 15px;
    color: #999;
    line-height: 200%;
}

/*评论区*/
.comment-info{
    margin-bottom: 0px;
}
.comment-content{
    margin-top: 2px;
    margin-bottom: 0;
}
/*二级评论*/
.origin-comment{
    font-size: 14px;
    border-left: solid 3px hsl(0, 0%, 80%);
    padding-left: 3px;
    background-color: floralwhite;
    margin-bottom: 5px;
}
/*帖子内容*/
.ck-content a{
    text-decoration: underline;
}
.list-group-item.active{
    color: #0b2e13;
    background-color: #ddd;
    border-color: #ddd;
}