<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/jmq.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jmq.js"></script>

</head>
<body>
<!--导航栏-->
<div th:replace="~{navigation :: nav}"></div>
<!--导航栏 END-->

<div class="content-container" id="content-container" style="border-radius: 3px">
    <!--文章列表-->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" style="border-right:solid 1px #EFEFEF ">
<!--                通知-->
                <ul class="list-group list-group-flush" th:if="${section==1}">
                    <li class="list-group-item" th:each="notification:${pagination.getData()}" >
<!--                        讨论帖-->
                        <div class="media-body" th:if="${notification.getArticleType()==1}">
                            <h5 class="mt-0 mb-1"><span style="margin-right: 5px" th:id="'badge-notification-'+${notification.getId()}"   th:class="${notification.getState()==0}?'badge badge-danger':'badge badge-success'" th:text="${notification.getState()==0}?'未读':'已读'" ></span><span th:text="'@'+${notification.getNotifierUsername()}+'  '+${notification.getNotifyDesc()}+'  '"></span><a class="list-title" target="_blank" th:href="'/question?id='+${notification.getArticleId()}+'#comment-'+${notification.getCommentId()}" th:text="${notification.getArticleTitle()}" th:data-id="${notification.getId()}" onclick="haveRead(this)"></a></h5>
                            <span th:utext="${notification.getContent()}" style="font-size: 15px;color: #555"></span><br>
                            <span class="list-info"><span  th:text="${#dates.format(notification.getCreateTime(),'yyyy-MM-dd HH:mm')}"></span>  </span>
                            <button class="btn btn-link" style="float: right;margin: 0 10px 0 0 ;font-weight:bold; padding: 0px;font-size: 15px;color: #218838;" onclick="haveRead(this)" th:data-id="${notification.getId()}">标记为已读</button>
                        </div>
<!--                        评论贴-->
                        <div class="media-body" th:if="${notification.getArticleType()==2}">
                            <h5 class="mt-0 mb-1"><span style="margin-right: 5px" th:class="${notification.getState()==0}?'badge badge-danger':'badge badge-success'" th:text="${notification.getState()==0}?'未读':'已读'" ></span>&nbsp;<span th:text="'@'+${notification.getNotifierUsername()}+'  '+${notification.getNotifyDesc()}+'  '"></span><a class="list-title" target="_blank" th:href="'/second?id='+${notification.getArticleId()}+'#comment-'+${notification.getCommentId()}" th:text="${notification.getArticleTitle()}"></a></h5>
                            <span th:utext="${notification.getContent()}" style="font-size: 15px;color: #555"></span><br>
                            <span class="list-info"><span  th:text="${#dates.format(notification.getCreateTime(),'yyyy-MM-dd HH:mm')}"></span>  </span>
                            <button class="btn btn-link" style="float: right;margin: 0 10px 0 0 ;font-weight:bold; padding: 0px;font-size: 15px;color: #218838;" onclick="haveRead(this)" th:data-id="${notification.getId()}">标记为已读</button>
                        </div>

                    </li>
                </ul>
<!--                查看我的讨论帖-->
                <ul class="list-group list-group-flush" th:if="${section==2}">
                    <li class="list-group-item" th:each="question:${pagination.getData()}" th:id="'profile-question-'+${question.getQuestionId()}">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a class="list-title" target="_blank" th:href="'/question?id='+${question.getQuestionId()}" th:text="${question.getTitle()}"></a></h5>
                            <span class="list-info"><span  th:text="${#dates.format(question.publishTime,'yyyy-MM-dd HH:mm')}"></span>  •  浏览量：<span th:text="${question.getViewCount()}"></span></span>
                            <button class="btn btn-link" style="float: right;margin: 0;padding: 0px;font-size: 15px;color: firebrick;" onclick="deleteQuestion(this)" th:data-id="${question.getQuestionId()}">删除</button>
                            <a style="float: right;margin-right: 10px;font-size: 15px" target="_blank" th:href="'/question/publishPage?id='+${question.getQuestionId()}" >编辑</a>
                        </div>
                    </li>
                </ul>
<!--                查看我的二手贴-->
                <ul class="list-group list-group-flush" th:if="${section==3}">
                    <li class="list-group-item" th:each="second:${pagination.getData()}" th:id="'profile-second-'+${second.getSecondId()}">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><span style="margin-right: 5px" th:id="'badge-second-'+${second.getSecondId()}" th:class="${second.getState()==false}?'badge badge-danger':'badge badge-success'" th:text="${second.getState()==false}?'待售':'已售'" ></span></span><a class="list-title" target="_blank" th:href="'/second?id='+${second.getSecondId()}" th:text="${second.getName()}"></a></h5>
                            <span class="list-info"><span  th:text="${#dates.format(second.publishTime,'yyyy-MM-dd HH:mm')}"></span>  •  浏览量：<span th:text="${second.getViewCount()}"></span></span>
                            <button class="btn btn-link" style="float: right;margin: 0;font-weight:bold; padding: 0;font-size: 15px;color: firebrick;" onclick="deleteSecond(this)" th:data-id="${second.getSecondId()}">删除</button>
                            <button class="btn btn-link" style="float: right;margin: 0 10px 0 0 ;font-weight:bold; padding: 0px;font-size: 15px;color: #218838;" onclick="sold(this)" th:data-id="${second.getSecondId()}">标记为已售</button>
                            <a style="float: right;margin-top: 1px;margin-right: 10px;font-size: 15px" target="_blank" th:href="'/second/publishPage?id='+${second.getSecondId()}" >编辑</a>
                        </div>
                    </li>
                </ul>
                <!--                分页-->
                <nav aria-label="Page navigation example" style="margin-top: 5px" th:if="${pagination.getTotalPage()>0}">
                    <ul class="pagination">
                        <!--                        第一页-->
                        <li class="page-item" th:if="${pagination.showFirstPage}">
                            <a class="page-link" th:href="'/profile?section='+${section}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <!--                        上一页-->
                        <li class="page-item" th:if="${pagination.showPrevious}">
                            <a class="page-link" th:href="'/profile?section='+${section}+'&page='+${pagination.page - 1}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <!--                        各个页数-->
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}? 'page-item active' : ''"><a class="page-link" th:href="'/profile?section='+${section}+'&page='+${page}" th:text="${page}">1</a></li>


                        <!--                        下一页-->
                        <li class="page-item" th:if="${pagination.showNext}">
                            <a class="page-link" th:href="'/profile?section='+${section}+'&page='+${pagination.page + 1}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <!--                        最后一页-->
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="'/profile?section='+${section}+'&page='+${pagination.totalPage}"  aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--            右侧栏-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="list-group">
                    <a href="/notification?section=1" th:class="${section==1}?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'">
                        通知
                    </a>
                    <a href="/profile?section=2" th:class="${section==2}?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'" >我的讨论帖</a>
                    <a href="/profile?section=3" th:class="${section==3}?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'">我的二手贴</a>
                    <a href="#" th:class="${section==4}?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'">Porta ac consectetur ac</a>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
        // Take the user to a different screen here.
        document.getElementById("content-container").className = "mobile-content-container";
    }
</script>
</body>
</html>