<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.getTitle()}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/jmq.css">
    <link rel="stylesheet" href="/css/content-styles.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jmq.js" type="text/javascript"></script>


</head>
<body>

<!--导航栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">经贸圈</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">讨论区 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">二手区</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">任务区</a>
            </li>
            <!--         搜索-->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 search-input" type="search" placeholder="搜索讨论帖" aria-label="Search">
                <button class="btn my-2 my-sm-0 search-button" type="submit">
                    <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                              clip-rule="evenodd"/>
                        <path fill-rule="evenodd"
                              d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                              clip-rule="evenodd"/>
                    </svg>
                </button>
            </form>
        </ul>
        <!--        已登录-->
        <div class="btn-group" style="margin: 5px">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" th:if="${session.user!=null}">
                <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                          clip-rule="evenodd"/>
                </svg>
                发帖
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/question/publishPage">发布讨论帖</a>
                <a class="dropdown-item" href="#">发布二手贴</a>
                <a class="dropdown-item" href="#">发布任务贴</a>
            </div>
        </div>
        <div class="btn-group" th:if="${session.user!=null}" style="margin-right: 10px">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span th:text="${session.user.getUsername()}"></span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">个人中心</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">退出登录</a>
            </div>
        </div>
        <svg class="bi bi-bell" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg" style="margin-right: 20px" th:if="${session.user!=null}">
            <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2z"/>
            <path fill-rule="evenodd"
                  d="M8 1.918l-.797.161A4.002 4.002 0 004 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 00-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 111.99 0A5.002 5.002 0 0113 6c0 .88.32 4.2 1.22 6z"
                  clip-rule="evenodd"/>
        </svg>
        <img th:src="${session.user.getPhoto()}" class="rounded-circle" height="40px" width="40px"
             th:if="${session.user!=null}">

        <!--        未登录-->
        <a class="nav-link" href="/loginPage" th:if="${session.user==null}">登录</a>
    </div>
</nav>
<!--导航栏 END-->


<div class="content-container" id="content-container">
    <!--    文章主体-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10" style="border-right:solid 1px #EFEFEF ">
                <!--帖子信息-->
                <div>
                    <h2 th:text="${question.getTitle()}"></h2>
                    <span class="question-info">发布人:<span
                            th:text="${question.getUsername()}"></span>&nbsp;|&nbsp;时间:<span
                            th:text="${#dates.format(question.getPublishTime(),'yyyy-MM-dd HH:mm')}"></span>&nbsp;|&nbsp;浏览量:<span
                            th:text="${question.getViewCount()}"></span></span>
                    <a th:if="${question!=null || question.getPublisherId()==session.user.getUserId()}"
                       th:href="'/question/publishPage?id='+${question.getQuestionId()}" style="color: #4e555b;">编辑</a>
                </div>
                <hr>
                <div th:utext="${question.getContent()}" class="ck-content">
                </div>
                <!--评论-->
                <hr>
                <h3>评论</h3>
                <div th:each="comment:${comments}">
                    <div class="media">
                        <img th:src="${comment.getPhoto()}" class="mr-3 rounded" width="45px" height="45px">
                        <div class="media-body">
                            <p class="mt-0 comment-info">
                                <span  style="font-weight: bold;color: gray"
                                      th:text="${comment.getUsername()}"></span>&nbsp;&nbsp;
                                <span style="font-size: 12px;color: #999;line-height: 200%;"
                                      th:text="${#dates.format(comment.getCreateTime(),'yyyy-MM-dd HH:mm')}"></span>
                            </p>
<!--                          被回复的内容  -->
                            <blockquote class="origin-comment" th:if="${comment.getParentUsername()!=null}">
                                <i style="color: gray;font-size: 15px;">回复 @<span th:text="${comment.getParentUsername()}"></span></i><br>
                                <i><span th:text="${comment.getParentContent()}"></span></i>
                            </blockquote>
                            <p class="comment-content"
                               th:text="${comment.getContent()}"></p>
                            <div>
                                <!--回复评论按钮   -->
                                <a data-toggle="collapse" th:href="'#collapseExample'+${comment.getId()}" role="button"
                                   aria-expanded="false" aria-controls="collapseExample">
                                    <svg class="bi bi-reply" width="1em" height="1em" viewBox="0 0 16 16"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M9.502 5.013a.144.144 0 00-.202.134V6.3a.5.5 0 01-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 011.921-.306 7.403 7.403 0 01.798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 01.45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 01.042-.028.147.147 0 000-.252.494.494 0 01-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 00-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 01-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 011.767-.96l3.994 2.94a1.147 1.147 0 010 1.946l-3.994 2.94a1.144 1.144 0 01-1.767-.96v-.667z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <span style="font-size: 12px;color: #999;line-height: 200%;">回复</span>
                                </a>
                                <!--回复评论输入框  -->
                                <div class="collapse" th:id="'collapseExample'+${comment.getId()}">
                                    <div class="card card-body" style="padding: 10px">
                                        <div class="input-group mb-3" style="margin-bottom: -16px;">
                                            <textarea type="text" class="form-control" th:id="'sub-comment-'+${comment.getId()}" placeholder="请输入..."
                                                      aria-label="请输入..." aria-describedby="button-addon2"></textarea>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-success" type="button" id="button-addon2" th:data-id="${comment.getId()}" th:data-parent-username="${comment.getUsername()}" th:data-parent-comment-content="${comment.getContent()}"
                                                        onclick="subComment(this)">回复
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>

                </div>
                <!--添加评论-->

                <h3>添加评论</h3>
                <div th:if="${session.user!=null}">
                    <div class="form-group">
                        <textarea class="form-control" id="comment-content" name="comment" rows="3"></textarea>
                    </div>
                    <input type="hidden" id="parentId" th:value="${question.getQuestionId()}">
                    <input type="hidden" id="parentType" value="1">
                    <button type="submit" class="btn btn-success" onclick="questionComment()">提交</button>
                </div>
                <div th:if="${session.user==null}">
                    <a class="nav-link" th:href="'/loginPage?type=1&id='+${question.getQuestionId()}"
                       th:if="${session.user==null}">请先登录</a>
                </div>
            </div>
            <!--            右侧栏-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                right
            </div>
        </div>

    </div>

</div>

<script>
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
        // Take the user to a different screen here.
        document.getElementById("content-container").className = "mobile-content-container";
    }
</script>
</body>
</html>